:root {
  --container-padding: #{$container-padding};

  @media (max-width: $breakpoint-tablet) {
    --container-padding: 16px;
  }
}

body {
  @include body-text;

  min-width: 320px;
  background-color: $white-color;
  color: $main-color;
}

.container {
  @include container;
}

.visually_hidden {
  @include visually-hidden;
}

.panel {
  padding: 24px;
  border-radius: $radius-card;
  background-color: $inputs-color;
}
