$main-color: #101828;
$text-color: #475467;
$gray-color: #6c717b;
$gray-light-color: #dadde1;
$badges-color: #f2f4f7;
$inputs-color: #f7f7f7;
$white-color: #ffffff;
$button-color: #829b91;
$button-hover-color: #6d7b75;
$rating-color: #ffc531;
$error-color: #e44848;
$error-bg-color: #ffdfdf;
