.title-text {
  text-align: center;
  font-size: 32px;
  color: $dark-color;
}

.secondary-title-text {
  font-size: 24px;
  color: $dark-color;
}

.text {
  font-size: 16px;
  color: $dark-color;
  line-height: 1.6;
}
